/* 全体用 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section h2{
    margin-top: 0;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 10% 20px 10%;
    padding: 40px 5% 5% 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .section {
        padding: 30px 5% 5% 5%;
        margin: 0 7% 20px 7%;
    }
}

.left-align {
    text-align: left;
}


.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    color: #fff;
    border-color: #fff;
    border-style: inset;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
}

.scroll-to-top:hover {
    background-color: #777;
}

/* Aboutセクション */
.profile {
    display: flex;
    justify-content: center;

    text-align: center;
}

.profile-info {
    padding-left: 30px;
    border: 1px;
}

.profile-info h3 {
    font-weight: bold;
    margin-top: 10px;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 5px;
}

.profile-pic img {
    border-radius: 50%;
    object-fit: cover;

    width: 120px;
    height: 120px;
    margin-right: 40px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic img {
        max-width: 100px;
        height: auto;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .profile-info {
        text-align: center;
        padding-left: 0px;
    }

    .profile-info h3 {
        margin-top: 0;
    }
}

/* projectセクション */
#projects_list{
    list-style-type: none;
    position: relative;
    list-style-type: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    
    vertical-align: middle;
    color: #505050;
}

.project_item{
    border-block-end: solid #ddd;
    writing-mode: horizontal-tb;
    padding: 0px 20px 5px 15px;
}

.project_title{
    
}

.icon_more{
    float: right;
    width: auto;
    height: 30px;
}

.is_open{
    transform: rotate(45deg);
    transition: transform 0.3s ease; 
}

.NG{
    display: none;
}

.is_close{
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
}

.project_content{
    padding-left: 15px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.p_h_field{
    display: flex;
    justify-content: space-between;
}

.p_h_day{
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.p_c_field{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.p_card{
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #000;
}

.p_link{
    display: inline;
	border: 1px solid #000;
	padding: 5px;
    margin: 5px;
	background: #f2f2f2;
	width: 100px;
}

.project_content{
    display: none;
}

#project_1{
    border-block-start: solid #ddd;
    writing-mode: horizontal-tb;
}

@media (max-width: 767px) {
    .p_h_field{
        flex-direction: column;
    }
    .p_c_field{
        flex-direction: column;
    }
    .p_card{
        margin-top: 1em;
    }
}
/* Linkセクション */
table {
    border-collapse: collapse;
    width: 100%;
}

#link-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table td p {
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

table td:nth-child(3),
table td:nth-child(4) {
    font-weight: bold;
    font-size: 1.2em;
}
